.rank {
    .rank__leader-board {
        table {
            border-collapse: collapse;
            width: 100%;
            text-align: center;


            thead {
                border-bottom: 1px solid var(--gray-2-color);
            }

            tbody {
                tr {
                    color: var(--gray-color);

                    &.active {
                        color: var(--light-green-color);
                    }
                }
            }

            th,
            td {
                padding: 8px 0;
            }

            img {
                height: 24px;
                width: unset;
                margin-left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}