.community {
    height: 100%;
    display: flex;
    flex-direction: column;

    .community__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 8px 32px 40px;
        height: 100%;

        .community__main__ic {
            margin-top: 16px;
            width: 80px;
            height: 80px;
            margin-left: 50%;
            transform: translateX(-50%);
            background-color: var(--gray-3-color);
            border-radius: 16px;

            img {
                width: 50px;
                height: 60px;
                margin-left: 50%;
                margin-top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        hr {
            margin: 24px auto;
            width: 60px;
            height: 1px;
            background-color: var(--gray-color);
            outline: none;
            border: none;
        }

        .community__main__member-container {
            position: relative;
            display: flex;
            justify-content: center;
            margin-bottom: 28px;

            .community__main__member-item {
                width: 36px;
                height: 36px;
                border-radius: 50%;
                border: 1px solid white;

                &:nth-of-type(1) {
                    transform: translateX(16px);
                    z-index: 100000;
                }

                &:nth-of-type(2) {
                    transform: translateX(8px);
                    z-index: 10000;
                }

                &:nth-of-type(3) {
                    transform: translateX(0);
                    z-index: 1000;
                }

                &:nth-of-type(4) {
                    transform: translateX(-8px);
                    z-index: 100;
                }

                &:nth-of-type(5) {
                    transform: translateX(-16px);
                    z-index: 10;
                }
            }
        }

        .community__main__social-container {
            margin-bottom: 40px;

            .community__main__social-item {
                fill: var(--gray-color);
                width: 28px;
                height: auto;
            }
        }
    }
}