.friend {
    .btn.btn-md {
        padding: 8px 12px;
    }

    .invite-friend-btn {
        width: 50%;
    }

    .reward-invitation-btn {
        width: 50%;
    }

    .btn.btn-sm {
        min-width: 95px;
    }
}