.navbar {
    position: fixed;
    bottom: 12px;
    left: 24px;
    right: 24px;
    z-index: 100000;
    background-color: rgba(2, 2, 2, 1);
    padding: 2px 28px;
    border-radius: 24px;
    box-shadow: rgba(18, 137, 205, 0.17) 0px -8px 29px 0px;

    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navbar-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: var(--gray-color);
            padding: 8px 12px;
            font-size: 1.2rem;

            svg {
                width: 22px;
                height: 22px;
                margin-bottom: 4px;
                color: var(--gray-color);
            }

            &.active {
                color: var(--highlight-green-color);
                font-weight: bolder;

                svg {
                    fill: var(--highlight-green-color);
                    color: var(--highlight-green-color);
                    stroke: 2;
                }
            }
        }
    }
}